<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barners</title>
</head>
<body>
    <style>
        body {background-color: bisque;}
    </style>
    <h1>Barners-lee</h1>
    <p>
        <ul>
            <li>Nacimiento: 8 de junio de 1955 (edad 66 años), Londres, Reino Unido</li>
            <li>Premios: Becas MacArthur, Premio de Tecnología del Milenio, MÁS</li>
        </ul>
    </p>
    <p>Timothy "Tim" John Berners-Lee, conocido como Tim Berners-Lee, es un científico de la computación británico, conocido
    por ser el padre de la World Wide Web. Estableció la primera comunicación entre un cliente y un servidor usando el
    protocolo HTTP en diciembre de 1990.</p>

    <img src="/img/Barners lee.jpg" alt="">
</body>
</html>