<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarke</title>
</head>
<body>
    <style>
        body {background-color: bisque;}
    </style>
    <h1>Clarke</h1>

    <p>
        <ul>
            <li>Nacimiento: 10 de febrero de 1883, Condado de Howard, Maryland, Estados Unidos</li>
            <li>Fallecimiento: 29 de octubre de 1959, Olney, Maryland, Estados Unidos</li>
        </ul>
    </p>

    <p>Edith Clarke fue la primera ingeniera eléctrica estadounidense y la primera profesora de ingeniería eléctrica en la
    Universidad de Texas en Austin.​​ Se especializó en análisis de sistemas de energía eléctrica y escribió el manual
    Circuit Analysis of A-C Power Systems.​​</p>

    <img src="/img/clarke.jpg" alt="" width="400" height="400">
</body>
</html>