<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hopper</title>
</head>
<body>
    <style>
        body {background-color: bisque;}
    </style>
    <h1>Hopper</h1>

    <p>
        <ul>
            <li>Nacimiento: 9 de diciembre de 1906, Nueva York, Nueva York, Estados Unidos</li>
            <li>Fallecimiento: 1 de enero de 1992, Condado de Arlington, Virginia, Estados Unidos</li>
        </ul>
    </p>
    <p>Grace Murray Hopper fue una científica de la computación y militar estadounidense con grado de contraalmirante. Fue
    pionera en el mundo de las ciencias de la computación y la primera programadora que utilizó el Mark I.</p>

    <img src="/img/hopper.jpg" alt="" width="600" height="400">
</body>
</html>