<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <style>
        body {background-image: url('https://i.pinimg.com/originals/2e/c5/c2/2ec5c2077995b4a128fc6a8a0e2e4a08.jpg');}
        body {background-size: cover;}
        h1 {font-weight: 800;}
    </style>
    <h1>¡Bienvenidos!</h1>
    <h2>Contenido:</h2>
    <p>En esta página podrás encontrar información sobre los grandes heroes de todos los tiempos que dejaron su marca en el
    mundo de la programación.</p>
    <ul>
    <li><a href="/babbage">Babbage</a></li>
    <li><a href="/barners-lee">Barners-Lee</a></li>
    <li><a href="/clarke">Clarke</a></li>
    <li><a href="/hamilton">Hamilton</a></li>
    <li><a href="/hopper">Hopper</a></li>
    <li><a href="/lovelace">Lovelace</a></li>
    <li><a href="/turing">Turing</a></li>
</ul>
</body>
</html>
